{
  "name": "{{ image_name }}",
  "version": 0,
  "description": "{{ description }}",
  "distribution": "{{ distribution }}",
  "imageType": "rhel-edge-installer",
  "packages": [
    {
      "name": "pcp"
    },
    {
      "name": "pcp-zeroconf"
    }
  ],
  "outputTypes": [
    "rhel-edge-installer",
    "rhel-edge-commit"
  ],
  "commit": {
    "arch": "{{ arch }}",
  },
  "installer": {
    "username": "{{ username}}",
    "sshkey": "{{ ssh_pub_key }}"
    },
     "thirdPartyRepositories": [
    {
      "ID": {{ custom_image_id }},
      "Name": "microshift-copr-testing",
      "URL": "https://download.copr.fedorainfracloud.org/results/@redhat-et/microshift-testing/epel-8-x86_64/"
    }
    ],
    "customPackages": [
      {
        "Name": "mircoshift"
      }
    ]
}