{
  "name": "{{ image_name }}",
  "version": 0,
  "description": "{{ description }}",
  "distribution": "{{ distribution }}",
  "imageType": "rhel-edge-installer",
  "packages": [{
        "name": "git"
    }, {
        "name": "pcp"
    }, {
        "name": "pcp-zeroconf"
    }, {
        "name": "curl"
    }, {
        "name": "vim-minimal"
    }, {
        "name": "podman"
    }, {
        "name": "slirp4netns"
    }, {
        "name": "redis"
    }, {
        "name": "git"
    }],
  "outputTypes": [
    "rhel-edge-installer",
    "rhel-edge-commit"
  ],
  "commit": {
    "arch": "{{ arch }}",
  },
  "installer": {
    "username": "{{ username}}",
    "sshkey": "{{ ssh_pub_key }}",
    "thirdPartyRepositories": []
  }
}