{
  "name": "{{ image_name }}",
  "version": 0,
  "description": "{{ description }}",
  "distribution": "{{ distribution }}",
  "imageType": "rhel-edge-installer",
  "packages": [{
        "name": "git"
    }, {
        "name": "bash-completion"
    }, {
        "name": "cockpit"
    }, {
        "name": "conmon"
    }, {
        "name": "vim-minimal"
    }, {
        "name": "conntrack-tools"
    }, {
        "name": "containernetworking-plugins"
    }, {
        "name": "containers-common"
    }, {
        "name": "container-selinux"
    }, {
        "name": "criu"
    }, {
        "name": "curl"
    }, {
        "name": "jq"
    }, {
        "name": "make"
    }, {
        "name": "NetworkManager-ovs"
    }, {
        "name": "python36"
    }, {
        "name": "selinux-policy-devel"
    }],
  "outputTypes": [
    "rhel-edge-installer",
    "rhel-edge-commit"
  ],
  "commit": {
    "arch": "{{ arch }}",
  },
  "installer": {
    "username": "{{ username}}",
    "sshkey": "{{ ssh_pub_key }}",
    "thirdPartyRepositories": []
  }
}