---
- name: Set up Basic Username/Password authentication
  block:
  - name: Set up temporary fact
    ansible.builtin.set_fact:
      tmp_auth_header_fact:
        Authorization: "Basic {{ (rh_authentication_basic_username + ':' + rh_authentication_basic_password)|b64encode }}"

  - name: Set up headers for Username/Password authentication
    ansible.builtin.set_fact:
      compiled_uri_headers: "{{ compiled_uri_headers | combine(tmp_auth_header_fact) }}"

- name: Set up Bearer Token authentication
  block:
  - name: Log into RH SSO API
    ansible.builtin.uri:
      url: https://sso.redhat.com/auth/realms/redhat-external/protocol/openid-connect/token
      body_format: form-urlencoded
      method: POST
      body:
        grant_type: refresh_token
        client_id: rhsm-api
        refresh_token: "{{ rh_offline_authentication_api_bearer_token }}"
    register: rh_sso_reg
    until: rh_sso_reg is not failed
    retries: 30
    delay: 10

  - name: Set up temporary fact for RH Offline Token exchange
    ansible.builtin.set_fact:
      tmp_auth_header_fact:
        Authorization: "Bearer {{ rh_sso_reg.json.access_token }}"

  - name: Set up temporary fact for normal non-RH Bearer Token
    ansible.builtin.set_fact:
      rh_api_bearer_token: "Bearer {{ rh_sso_reg.json.access_token }}"

  - name: Set up headers for Bearer authentication
    ansible.builtin.set_fact:
      compiled_uri_headers: "{{ compiled_uri_headers | combine(tmp_auth_header_fact) }}"

  - name: Print ssh key variable
    ansible.builtin.debug:
      var: ssh_pub_key